python/agents/academic-research/CODEOWNERS: Antonio Gulli <gulli@google.com>
python/agents/auto-insurance-agent/CODEOWNERS: David Rush <davidrush@google.com>
python/agents/brand-search-optimization/CODEOWNERS: Nikhil Kulkarni <nikhilkul@google.com>
python/agents/customer-service/CODEOWNERS: Christos Aniftos <aniftos@google.com>
python/agents/data-science/CODEOWNERS: Meltem Subasioglu <msubasioglu@google.com>
python/agents/financial-advisor/CODEOWNERS: Antonio Gulli <gulli@google.com>
python/agents/fomc-research/CODEOWNERS: Mike Styer <styer@google.com>
python/agents/gemini-fullstack/CODEOWNERS: Amit Dutta <amitdutta@google.com>
python/agents/gemini-fullstack/CODEOWNERS: Deepak Moonat <dmoonat@google.com>
python/agents/gemini-fullstack/CODEOWNERS: Elia Secchi <eliasecchi@google.com>
python/agents/gemini-fullstack/CODEOWNERS: Erwin Huizenga <erwinh@google.com>
python/agents/gemini-fullstack/CODEOWNERS: Lavi Nigam <lavinigam@google.com>
python/agents/llm-auditor/CODEOWNERS: Chun-Sung Ferng <csferng@google.com>
python/agents/llm-auditor/CODEOWNERS: Cyrus Rashtchian <cyroid@google.com>
python/agents/llm-auditor/CODEOWNERS: Da-Cheng Juan <dacheng@google.com>
python/agents/llm-auditor/CODEOWNERS: Ivan Kuznetsov <ivanku@google.com>
python/agents/marketing-agency/CODEOWNERS: Antonio Gulli <gulli@google.com>
python/agents/personalized-shopping/CODEOWNERS: Yiwen Song <yiwensong@google.com>
python/agents/RAG/CODEOWNERS: Hangfei Lin <hangfei@google.com>
python/agents/RAG/CODEOWNERS: Chouaieb Nemri <nemri@google.com>
python/agents/software-bug-assistant/CODEOWNERS: Jack Wotherspoon <jackwoth@google.com>
python/agents/travel-concierge/CODEOWNERS: Gary Ng <gkcng@google.com>
python/agents/travel-concierge/CODEOWNERS: Arun Santhanagopalan <asanthan@google.com>
python/agents/travel-concierge/CODEOWNERS: Renee Zhang <xiaolizhang@google.com>
python/agents/travel-concierge/CODEOWNERS: Anisha Kaul <anishasjkaul@google.com>
python/agents/travel-concierge/CODEOWNERS: Duncan Renfrow-Symon <drenfrowsymon@google.com>
java/agents/software-bug-assistant/CODEOWNERS: Megan O'Keefe <mokeefe@google.com>
java/agents/time-series-forecasting/CODEOWNERS: Megan O'Keefe <mokeefe@google.com>
