# Google Cloud Configurations
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT="<YOUR_PROJECT_ID>"
GOOGLE_CLOUD_LOCATION="<YOUR_REGION>"

# Dataflow Configurations
JOB_NAME_PREFIX="<YOUR_JOB_PREFIX>"
DATAFLOW_TEMP_BUCKET="<YOUR_TEMP_BUCKET_NAME>"
TEMPLATE_GCS_PATH="gs://<YOUR_TEMPLATE_PATH>"
DATAFLOW_SERVICE_ACCOUNT="<YOUR_SERVICE_ACCOUNT_EMAIL>"
NETWORK="<YOUR_NETWORK_NAME>"
SUB_NETWORK="<YOUR_SUBNET_PATH>"

# Model Configurations
GEMINI_MODEL_FLASH="<YOUR_MODEL_VERSION>"

# BQ Retention Configurations
ORGANIZATION_ID="<YOUR_ORG_ID>"
PROJECT_ID="<YOUR_PROJECT_ID>"
LOCATION="<YOUR_REGION>"
DEFAULT_RETENTION_DAYS=30
BQ_EXECUTION_PROJECT_ID="<YOUR_PROJECT_ID>"
ARCHIVE_BUCKET_ASSET_NAME="<YOUR_ASSET_RESOURCE_PATH>"