# Rename this file to .env
GOOGLE_CLOUD_PROJECT="xxxx"
GOOGLE_CLOUD_LOCATION="xxxx" #e.g. us-central1
GOOGLE_GENAI_USE_VERTEXAI="TRUE"
GOOGLE_CLOUD_STORAGE_BUCKET=<YOUR_STORAGE_BUCKET>  # Only required for deployment on Agent Engine

APPINT_PROCESS_NAME="xxxx" #e.g. sample_order_processing
APPINT_PROCESS_TRIGGER="xxxx" #e.g. api_trigger/sample_order_processing
AGENT_SERVICE_ACCOUNT="xxxx" #e.g. adk-order-processing@blah.iam.gserviceaccount.com (not needed if running locally)