# Copy this file to .env and fill in your credentials.
# This file is an example and should not contain real secrets.

GOOGLE_CLOUD_PROJECT=""
GOOGLE_CLOUD_LOCATION="" #e.g. us-central1
GOOGLE_GENAI_USE_VERTEXAI="True"
GCS_BUCKET=""
GITHUB_PERSONAL_ACCESS_TOKEN="" #only in case of connection with private github repository
GOOGLE_API_KEY=""
MODEL_ROOT_AGENT="gemini-2.5-pro"
MODAL_AGENT_INDEX="gemini-2.5-pro"
MODAL_AUDIO_GEN="gemini-2.5-pro"
