# Rename this file to .env
GOOGLE_CLOUD_PROJECT="xxxx"
GOOGLE_CLOUD_LOCATION="xxxx" #e.g. us-central1
GOOGLE_GENAI_USE_VERTEXAI="TRUE"
GOOGLE_CLOUD_STORAGE_BUCKET=<YOUR_STORAGE_BUCKET>  # Only required for deployment on Agent Engine

# ADK and environment specific variables
AGENT_REDIRECT_URI="http://localhost:8000/dev-ui/" #Replace if not running locally

SNOW_INSTANCE_NAME="devxxxx" #Replace with your instance name
SNOW_OAUTH_SCOPES="useraccount"

SNOW_CONNECTION_PROJECT_ID="xxxx"
SNOW_CONNECTION_REGION="us-central1" #e.g. us-central1
SNOW_CONNECTION_NAME="dynamic-snow"
SNOW_CLIENT_ID="xxxx" #Client Identifier in SNOW
SNOW_CLIENT_SECRET="xxxx" #Client Secret in SNOW
