GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT="YOUR_GCP_PROJECT_ID"
GOOGLE_CLOUD_LOCATION="global"

GCS_BUCKET_NAME="YOUR_GCS_BUCKET_NAME"
SCORE_THRESHOLD=45
MAX_ITERATIONS=2
IMAGE_GEN_MODEL="gemini-2.5-flash-image"
GENAI_MODEL="gemini-2.5-flash"
AGENT_ENGINE_ID=""
